/*
The styles for a Post component.
*/

.BlogPost {
   
}

.Card {
    width: 75%;
    border-radius: 5px;
    -webkit-box-shadow: 5px 7px 18px -5px rgba(196,102,129,0.65); 
    box-shadow: 5px 7px 18px -5px rgba(196,102,129,0.65);
}

.Card .CardHeader, .Title {
    background-color: #efe9f3;
    font-weight: 400;
    color: #622a0e;
    font-size: x-large;
    text-align: center;

}

.PostInfo {
    background-color: #fcfbf9;
    min-height: 65px;
}

.Badge {
    background-color: #c46681;
    font-size: large;
    color: #efe9f3;
}

.Date {
    font-size: large;
    color: #c46681;
    font-weight: 800;
}

.Title {
    background-color: #fcfbf9;
}