/*
The styles for a Post component.
*/

.BlogPost {
   
}

.Card {
    width: 75%;
    border-radius: 5px;
}

.Card .CardHeader {
    background-color: #efe9f3;
    font-weight: 400;
    color: #622a0e;
    font-size: x-large;
    text-align: center;

}