/*
Style declarations for the Comment component.
*/

.Comment {
    width: 80%;
}

.Badge {
    background-color: #7c449e;
    color: #efe9f3;
    font-weight: 800;
    font-size: medium;
}

.Date {
    color: #7c449e;
    font-weight: 800;
    margin-left: 1em;
}