.ButtonContainer {
  position: fixed;
  bottom: 20%;
  right: 20%;
  cursor: pointer;
}

.IconButton {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #ff4f79;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.Button {
  width: 60px;
  height: 60px;
  background: #a11692;
}

.IconButton i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
}

.SearchBar input {
  border-radius: 20px;
  color: #471b05;
  padding-left: 40px;
  margin-bottom: 16px;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}

.SearchIcon:hover {
  cursor: default;
  color: #cf6681;
}

.Label {
  color: #471b05;
}

.FormSelections {
  width: 30%;
  min-width: 150px;
}

.SearchFilterForm {
  padding: 2em;
}